.taust { background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-beautiful-gradient-color-cloud-background-backgroundcloud-backgroundromantic-cloudslight-image_72634.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.pohitekst {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: black;
}
.pealkiri {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: deeppink;

 }

 .instagram {

 }

 .facebook 